#react
.DS_STORE
/frontend/node_modules
/frontend/scripts/flow/*/.flowconfig
.flowconfig
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
/frontend/build/
/frontend/remote-repo/
/frontend/coverage/
.module-cache
/frontend/fixtures/dom/public/react-dom.js
/frontend/fixtures/dom/public/react.js
/frontend/test/the-files-to-test.generated.js
*.log*
/frontend/chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo

/frontend/packages/react-devtools-core/dist
/frontend/packages/react-devtools-extensions/chrome/build
/frontend/packages/react-devtools-extensions/chrome/*.crx
/frontend/packages/react-devtools-extensions/chrome/*.pem
/frontend/packages/react-devtools-extensions/firefox/build
/frontend/packages/react-devtools-extensions/firefox/*.xpi
/frontend/packages/react-devtools-extensions/firefox/*.pem
/frontend/packages/react-devtools-extensions/shared/build
/frontend/packages/react-devtools-extensions/.tempUserDataDir
/frontend/packages/react-devtools-inline/dist
/frontend/packages/react-devtools-shell/dist
/frontend/packages/react-devtools-timeline/dist

#spring-boot
*#
*.iml
*.ipr
*.iws
*.jar
*.sw?
*~
.#*
.*.md.html
.DS_Store
.attach_pid*
.classpath
.factorypath
.gradle
.idea
.metadata
.project
.recommenders
.settings
.springBeans
.vscode
/code
MANIFEST.MF
_site/
activemq-data
bin
build
!/**/src/**/bin
!/**/src/**/build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
out
overridedb.*
target
.flattened-pom.xml
secrets.yml
.gradletasknamecache
.sts4-cache