<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Data Compare</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
    	h1{font-family: Arial; font-size: 14pt;}
    	table{border: 1px solid #ddd; border-radius: 10px; border-collapse: collapse;} 
    	th, td {border-bottom: 1px solid #ddd;border-collapse: collapse; font-family: Arial; font-size: 10pt;} 
    	th, td {padding: 5px;}	th {text-align: left;} 
    	table {border-spacing: 2px; width: 100%; background-color: #f1f1c1;	border-color: gray;} 
    	table tr:nth-child(even) {background-color: #eee;} 
    	table tr:nth-child(odd) {background-color: #fff;} 
    	table th {color: white; background-color: black;}	
    	input[type="text"], input[type="password"], input[type="number"] {border-top: 0px; border-left: 0px; border-right: 0px; border-bottom-color: #000; outline:none; width:100%;height:20px;}
		input[type=button], input[type=submit], input[type=reset] {background-color: #4CAF50;border: none;border-radius:5px;color: white;padding: 5px 20px;text-decoration: none;margin: 4px 2px;cursor: pointer;}
		input[type="checkbox"] {cursor: pointer;-webkit-appearance: none;-moz-appearance: none;appearance: none;outline: 0;background: white;height: 16px;width: 16px;border: 1px solid black;}
		input[type="checkbox"]:checked {background: white;}
		input[type="checkbox"]:hover {filter: brightness(90%);}
		input[type="checkbox"]:after {content: '';position: relative;left: 40%;top: 20%;width: 15%;height: 40%;border: solid black;border-width: 0 2px 2px 0;transform: rotate(45deg);display: none;}
		input[type="checkbox"]:checked:after {display: block;}
		textarea{width: 100%;height: 50px;padding: 12px 20px;box-sizing: border-box;border: 2px solid #ccc;border-radius: 4px;background-color: #f8f8f8;resize: none;}
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
	
		    $("#datacompare").submit(function (event) {
	
		        //stop submit the form event. Do this manually using ajax post function
		        event.preventDefault();
	
		        var frm = $('#datacompare');
		        
		        $.ajax({
		            type: "POST",
		            url: "/datacompare",
		            data: frm.serialize(),
		            success: function (data) {
	
		                console.log('Submission was successful.');
		            },
		            error: function (e) {
	
		                console.log('An error occurred.');
		            }
		        });
                
				setTimeout(
				  function() {
					  
		          	window.location='/result';
				  }, 1000);
		        
		    });
		    
		    $('#repTypeId').on('change', function () {
		    	
				var selectedVal = $("#repTypeId option:selected").val();
				
				if(selectedVal == 'Basic') {
					
			    	 $("#othRow0Id").hide();
			    	 $("#othRow1Id").hide();
			    	 $("#othRow2Id").hide();
			    	 $("#stRow2Id").hide();
			    	 $("#filRow0Id").hide();
					
				} else {
					
			    	 $("#othRow0Id").show();
			    	 $("#othRow1Id").show();
			    	 $("#othRow2Id").show();
			    	 $("#stRow2Id").show();
			    	 $("#filRow0Id").show();
				}
		    });
		    
			$('#dbTypeId').on('change', function () {
				
			     var selectedVal = $("#dbTypeId option:selected").val();
			     var connTypeSelectedVal = $("#connTypeId option:selected").val();
			     
			     if(selectedVal == 'SQLSERVER') {
			    	 
			    	 if(connTypeSelectedVal == 'All') {
			    		 
				    	 $("#dbServiceId").hide();
				    	 
			    	 } else if(connTypeSelectedVal == 'JDBC') {
			    		 
			    		 $("#srcJdbcUrlId").attr("placeholder", "jdbc:sqlserver://{host}[:{port}][;databaseName={database}]");
			    	 }
			    	 
			     } else {
			    	 
			    	 if(connTypeSelectedVal == 'All') {
				    	 
				    	 $("#dbServiceId").show();
			    		 
			    	 } else if(connTypeSelectedVal == 'JDBC') {
			    		 
			    		 $("#srcJdbcUrlId").attr("placeholder", "jdbc:oracle:thin:@{host}[:{port}]/{database}");
			    	 }
			     }
			});
			
			$('#connTypeId').on('change', function () {
				
			     var selectedVal = $("#connTypeId option:selected").val();
			     var dbTypeSelectedVal = $("#dbTypeId option:selected").val();
			     
			     if(selectedVal == 'JDBC') {
			    	 
			    	 $("#srcRow0Id").show();
			    	 $("#srcRow1Id").hide();
			    	 $("#srcRow2Id").hide();
			    	 
			 		 $('#srcIpId').removeAttr('required');
			 		 $('#srcPortId').removeAttr('required');
			 		 $('#srcDBNameId').removeAttr('required');
			 		 $('#srcJdbcUrlId').attr('required', 'required');
			    	 
			    	 $("#tarRow0Id").show();
			    	 $("#tarRow1Id").hide();
			    	 $("#tarRow2Id").hide();
			    	 
			 		 $('#tarIpId').removeAttr('required');
			 		 $('#tarPortId').removeAttr('required');
			 		 $('#tarDBNameId').removeAttr('required');
			 		 $('#tarJdbcUrlId').attr('required', 'required');
			    	 
			    	 if(dbTypeSelectedVal == 'SQLSERVER') {
			    		 
			    		 $("#srcJdbcUrlId").attr("placeholder", "jdbc:sqlserver://{host}[:{port}][;databaseName={database}]");
			    		 
			    	 } else {
			    		 
			    		 $("#srcJdbcUrlId").attr("placeholder", "jdbc:oracle:thin:@{host}[:{port}]/{database}");
			    	 }
			    	 
			     } else {
			    	 
			    	 $("#srcRow0Id").hide();
			    	 $("#srcRow1Id").show();
			    	 $("#srcRow2Id").show();
			    	 $("#srcRow3Id").show();
			    	 
			    	 $('#srcJdbcUrlId').removeAttr('required');
			 		 $('#srcIpId').attr('required', 'required');
			 		 $('#srcPortId').attr('required', 'required');
			 		 $('#srcDBNameId').attr('required', 'required');
			 		 $('#srcUserNameId').attr('required', 'required');
			 		 $('#srcUserPasswordId').attr('required', 'required');
			    	 
			    	 $("#tarRow0Id").hide();
			    	 $("#tarRow1Id").show();
			    	 $("#tarRow2Id").show();
			    	 $("#tarRow3Id").show();
			    	 
			 		 $('#tarJdbcUrlId').removeAttr('required');
			 		 $('#tarIpId').attr('required', 'required');
			 		 $('#tarPortId').attr('required', 'required');
			 		 $('#tarDBNameId').attr('required', 'required');
			 		 $('#tarUserNameId').attr('required', 'required');
			 		 $('#tarUserPasswordId').attr('required', 'required');
			     }
			});
			
		    $('#filTypeId').on('change', function () {
		    	
				var selectedVal = $("#filTypeId option:selected").val();
				
				if(selectedVal == 'Sample') {
					
					 $("#filterId").attr("placeholder", "Provide sample filter which works for all tables in source. e.g:- ROWNUM < 100000. Note: Filters won't work for tables without primary key.");
					
				} else {
					
					 $("#filterId").attr("placeholder", "Provide SQL where condition without WHERE keyword. e.g:- ID > 1000 AND ID < 25000. Note: This sql filter should work with target database as well. Filters won't work for tables without primary key.");
				}
		    });
		});	
	</script>    
</head>
<body>
    <form id="datacompare" th:object="${datacompare}" method="post">
    	<table style="border: 0px;">
    		<tr>
    			<td style="border: 0px; width: 50%;">
					<h1 style="display: inline-block;">Data Compare Tool Connection Details</h1>
			    	<span style="display: inline;">
						<select th:field="*{connectionType}" id="connTypeId">
							<option th:value="All" th:text="DATABASE"/>
							<option th:value="JDBC" th:text="'JDBC URL'"/>
						</select>
					</span>
    			</td>
    			<td style="border: 0px; width: 50%;">
					<h1 style="display: inline-block;">Report Type</h1>
					<span style="display: inline;">
						<select th:field="*{reportType}" id="repTypeId">
							<option th:value="Detail" th:text="DETAIL"/>
							<option th:value="Basic" th:text="BASIC"/>
						</select>
					</span>
    			</td>
    		</tr>
    	</table>
    	<table>
    		<thead>
    			<tr>
    				<th>Source DB&nbsp;
    					<select th:field="*{sourceDBType}" id="dbTypeId">
    						<option th:value="ORACLE" th:text="ORACLE"/>
    						<option th:value="SQLSERVER" th:text="SQLSERVER"/>
						</select>
						&nbsp;Details
    				</th> 
    				<th>Target DB PostgreSQL Details</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr>
    				<td style="border-right: 1px solid #cdd0d4;vertical-align: top;width: 50%;">
    					<table style="border: 0px;" id="srcTbl1Id">
    						<tr id="srcRow0Id" style="display: none;">
    							<td><strong>JDBC Url</strong><sup>*</sup></td>
    							<td colspan="6"><input type="text" th:field="*{sourceJdbcUrl}" id="srcJdbcUrlId" placeholder="jdbc:oracle:thin:@tcps:{host}[:{port}]/{database}"/></td>
    						</tr>
    						<tr id="srcRow1Id">
    							<td><strong>Host</strong><sup>*</sup></td>
    							<td colspan="6"><input type="text" th:field="*{sourceIP}" id="srcIpId" required="required"/></td>
    						</tr>
    						<tr id="srcRow2Id">
    							<td><strong>Port</strong><sup>*</sup></td>
    							<td><input type="number" min="0" th:field="*{sourcePort}" id="srcPortId" required="required"/></td>
    							<td><strong>Database</strong><sup>*</sup></td>
    							<td>
    								<input type="text" th:field="*{sourceDBName}" id="srcDBNameId" required="required"/>
    							</td>
    							<td>
			    					<select th:field="*{sourceDBService}" id="dbServiceId">
			    						<option th:value="Service" th:text="Service"/>
			    						<option th:value="SID" th:text="SID"/>
									</select>
    							</td>
								<td><strong>SSL Mode</strong></td>
								<td><input type="checkbox" name="sourceSSLRequire" th:field="*{sourceSSLRequire}" /></td>
    						</tr>
    						<tr id="srcRow3Id">
    							<td><strong>Username</strong><sup>*</sup></td>
    							<td><input type="text" th:field="*{sourceUserName}" id="srcUserNameId" required="required"/></td>
    							<td><strong>Password</strong><sup>*</sup></td>
    							<td><input type="password" th:field="*{sourceUserPassword}" id="srcUserPasswordId" required="required"/></td>
    							<td colspan="3">&nbsp;</td>

    						</tr>
    					</table>	
    				</td>
    				<td style="vertical-align: top;width: 50%;">
    					<table style="border: 0px;" id="tarTbl1Id">
    						<tr id="tarRow0Id" style="display: none;">
    							<td><strong>JDBC Url</strong><sup>*</sup></td>
    							<td colspan="5"><input type="text" th:field="*{targetJdbcUrl}" id="tarJdbcUrlId" placeholder="jdbc:postgresql://{host}[:{port}]/[{database}]"/></td>
    						</tr>
    						<tr id="tarRow1Id">
    							<td><strong>Host</strong><sup>*</sup></td>
    							<td colspan="5"><input type="text" th:field="*{targetIP}" id="tarIpId" required="required"/></td>
    						</tr>
    						<tr id="tarRow2Id">
	   							<td><strong>Port</strong><sup>*</sup></td>
	   							<td><input type="number" min="0" th:field="*{targetPort}" id="tarPortId" required="required"/></td>
	   							<td><strong>Database</strong><sup>*</sup></td>
	   							<td><input type="text" th:field="*{targetDBName}" id="tarDBNameId" required="required"/></td> 
	   							<td><strong>SSL Mode</strong></td>
	   							<td><input type="checkbox" name="targetSSLRequire" th:field="*{targetSSLRequire}" /></td>
    						</tr>
    						<tr id="tarRow3Id">
    							<td><strong>Username</strong><sup>*</sup></td>
    							<td><input type="text" th:field="*{targetUserName}" id="tarUserNameId" required="required"/></td>
    							<td><strong>Password</strong><sup>*</sup></td>
    							<td><input type="password" th:field="*{targetUserPassword}" id="tarUserPasswordId" required="required"/></td>
    							<td colspan="2">&nbsp;</td>
    						</tr>
    					</table>	
    				</td>
    			</tr>
    			<tr><td colspan="2">&nbsp;</td></tr>
    			<tr style="border-collapse: collapse; font-family: Arial; font-size: 10pt;font-weight:bold; border-bottom: 1px solid #ddd;color: white; background-color: black;padding: 5px;text-align: left;"> 
    				<td>Schema and Table Details</td>
    				<td>Other Details</td>
    			</tr>
    			<tr>
    				<td style="border-right: 1px solid #cdd0d4;">
    					<table style="border: 0px;">
    						<tr>
    							<td width="25%"><strong>Schema Name(s)</strong><sup>*</sup></td>
    							<td><textarea th:field="*{schemaName}" required="required" title="use comma separated schema name(s) for comparision" placeholder="use comma separated schema name(s) for comparision"/></td>
    						</tr>
    						<tr>
    							<td>
    								<input type="checkbox" name="ignoreTables" th:field="*{ignoreTables}" style="vertical-align: middle;"/>
    								<strong>Table Name(s)</strong>
    							</td>
    							<td><textarea th:field="*{tableName}" title="use comma separated table name(s) for comparision (select check box to exclude them). leave blank to compare all" placeholder="use comma separated table name(s) for comparision (select check box to exclude them). leave blank to compare all"/></td>
    						</tr>
    						<tr id="stRow2Id">
    							<td>
    								<input type="checkbox" name="ignoreColumns" th:field="*{ignoreColumns}" style="vertical-align: middle;"/>
    								<strong>Column(s)</strong>
    							</td> 
    							<td><textarea th:field="*{columns}" title="use comma separated column name(s) for comparison (select check box to exclude them). leave blank to compare all" placeholder="use comma separated column name(s) for comparison (select check box to exclude them). leave blank to compare all"/></td>
    						</tr>
    					</table>
    				</td>
    				<td style="vertical-align: top;">
    					<table style="border: 0px;">
    						<tr id="othRow0Id">
    							<td><strong>DB Chunk Fetch Size</strong><sup>*</sup></td>
    							<td><input type="number" min="0" max="1000000" th:field="*{fetchSize}" required="required" title="Will be used to fetch that many no of rows for comparison"/></td>
    							<td><strong>No Of Parallel Chunks</strong><sup>*</sup></td>
    							<td><input type="number" min="0" max="10" th:field="*{maxNoofThreads}" required="required"/></td> 
    						</tr>
    						<tr id="othRow1Id">
    							<td><strong>Max Decimal Size for Comparison</strong><sup>*</sup></td>
    							<td><input type="number" min="0" max="10" th:field="*{maxDecimals}" required="required"/></td>
    							<td><strong>Max Text Size for Comparison</strong><sup>*</sup></td>
    							<td><input type="number" min="0" max="5000" th:field="*{maxTextSize}" required="required"/></td> 
    						</tr>
    						<tr id="othRow2Id">
    							<td><strong>Compare Only Date</strong></td> 
    							<td><input type="checkbox" name="compareOnlyDate" th:field="*{compareOnlyDate}" title="select check box to compare only date and ignore time"/></td>
    							<td><strong>Report Detail Mismatch Data</strong></td> 
    							<td><input type="checkbox" name="displayCompleteData" th:field="*{displayCompleteData}" title="select check box to generate report in detail for mismatch data" /></td>
    						</tr>
    						<tr>
    							<td><strong>Output Folder Path</strong></td>
    							<td colspan="3"><input type="text" th:field="*{outputFolderPath}" title="e.g:- C:\output" placeholder="Files will be stored in this folder and it should have write access."/></td>
    						</tr>
    						<tr>
    							<td><strong>Job Name</strong></td>
    							<td colspan="3"><input type="text" th:field="*{jobName}" placeholder="Output filename. Execution date and time will append to this filename."/></td>
    						</tr>
    					</table>
    				</td>
    			</tr>
    			<tr><td colspan="2">&nbsp;</td></tr>
    			<tr id="filRow0Id">
    				<td colspan="2">
    					<strong>Filter Type</strong>&nbsp;
						<span style="display: inline;">
							<select th:field="*{filterType}" id="filTypeId">
								<option th:value="Sql" th:text="Sql"/>
								<option th:value="Sample" th:text="Sample"/>
							</select>
						</span>
    					<input type="text" th:field="*{filter}" id="filterId" placeholder="Provide SQL where condition without WHERE keyword. e.g:- ID > 1000 AND ID < 25000. Note: This sql filter should work with target database as well. Filters won't work for tables without primary key."/>
    				</td>
    			</tr>
    		</tbody>
    	</table>
        <p><input type="submit" value="Submit" /><input type="reset" value="Reset" />&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/result">Check Recent Result</a>&nbsp;&nbsp;|&nbsp;&nbsp;<sup>*</sup> Indicates Mandatory</p>
    </form>
</body>
</html>